<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>게시판</title>
  </head>
  <body>
    <form>
        <th:block><h1>게시글 조회</h1></th:block>
        <div>
            <button type="button" th:onclick="location.href='/bbs'">조회</button>
            <button type="button" th:onclick="location.href='/bbs/bbsInsert'">추가</button>
        </div>
        <br>
        <table border="1">
            <thead>
                <tr>
                    <th width="50px">순번</th>
                    <th width="200px">제목</th>
                    <th width="500px">내용</th>
                    <th width="150px">등록일자</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="bbsData : ${bbsList}" th:object="${bbsData}" th:onclick="|location.href='/bbs/bbsInfo/' + *{id}|">
                    <td align="center" th:text="*{id}">순번</td>
                    <td align="center" th:text="*{bbsTitle}">제목</td>
                    <td th:text="*{bbsContent}">내용</td>
                    <td align="center" th:text="*{#temporals.format(regDt, 'yyyy-MM-dd')}">등록일자</td>
                </tr>
            </tbody>
        </table>
    </form>
  </body>
</html>